/* Estilos para Títulos */
#tituloGenetico {
    font-size: 60px;
    font-weight: bolder;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    color: #FF4343;
    text-align: center;
    margin: 0 0 60px 0;
}

#tituloDesafio {
    font-size: 55px;
    padding-right: 190px;
    font-weight: normal;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Estilos Globais */
#bodyJogo {
    background-color: hsla(225, 15%, 14%, 1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    display: block;
    margin: 0 auto;
}

/* Estilos do Jogo Wordle */
.wordle-container {
    font-family: Arial, sans-serif;
    background-color: var(--md-default-bg-color, #f8f9fa);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 60px) 20px repeat(3, 60px) 20px repeat(3, 60px); /* Espaçamento maior após cada 3 células */
    gap: 10px; /* Espaçamento entre células */
    margin-bottom: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid var(--md-accent-bg-color, #ccc);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--md-primary-bg-color, #fff);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell.correct {
    background-color: green;
    color: white;
}

.cell.present {
    background-color: yellow;
    color: black;
}

.cell.absent {
    background-color: rgb(139, 53, 53);
    color: white;
}

.cell.invalid {
    background-color: grey;
    color: white;
}

.cell.correspondent {
    background-color: orange;
    color: white;
}

.cell-input {
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    background: transparent;
    cursor: pointer;
}


/* Botão de Envio */
#submit-button {
    padding: 11px 30px;
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
    background-color: #5e8bde;
    color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#submit-button:hover,
#submit-button:focus {
    background-color: #0056b3;
}

#game-state { 
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

#message {
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

/* Botão do Editor TinyMCE */
.editor-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 11px 30px;
    border-radius: 45px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.editor-button:hover,
.editor-button:focus {
    background-color: #0056b3;
}

/* Link para Documentação */
.doc-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 11px 30px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.doc-link:hover,
.doc-link:focus {
    background-color: #0056b3;
}

/* Container do Editor */
#editor-container {
    display: none;
    position: fixed;
    bottom: 90px;
    left: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

#editor-container textarea {
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

/* Estilos dos Popups */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo dos Botões */
button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #45a049;
}

/* CSS para os Cards */
.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: black;
    transition: filter 0.3s ease;
}
.gallery img {
    width: 30%;
    height: 90%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.1);
}
.info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.info-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
}
.close-btn-card {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 9px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: red;
}


/* dropdown menu jogo */
#genome-select {
    background-color:  hsla(225, 15%, 14%, 1);
    border: 1px solid #007bff;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    float:inline-start;
    transition: border-color 0.3s;
  }
  
  #genome-select:focus {
    border-color: #007bff;
  }
  
  .justificado {
    text-align: justify;
    text-indent: 2em;
}